$OpenSans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$RobotoSlab: 'Roboto Slab', serif;

$colorOrange: #ff6600;
$colorGray: #555252;
$colorLightGray: #fefefe;
$colorWhite: #ffffff;
$colorBlack: #0f0101;
$colorHeaderBG: #24282e;